.transacciones-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

.transacciones-container h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  padding: 10px;
  z-index: 1;
}

.transacciones-container ul {
  list-style-type: none;
  padding: 0;
}

.transacciones-container li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}